#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lowSalary {
    font-weight: bold;
    color: #23C71E;
}
.modal-header {
    background-color: #1b1e21;
    color: white;
}
.close {
    color: white;
}
.icon-link:hover {
    cursor: pointer;
}
.dataTable input[type="text"] {
    height: 25px;
    width: 100%;
    max-width: 100%;
}
