#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lowSalary {
    font-weight: bold;
    color: #23C71E;
}
.modal-header {
    background-color: #1b1e21;
    color: white;
}
.close {
    color: white;
}
