.lyre-table {
    width: 100%;
    border: 1px solid darkgray;
}
.lyre-table thead {
    background-color: #1F9CDF;
    color: white;
    font-family: "Arial Hebrew", Arial, sans-serif;
}
.lyre-table thead th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;
}
.lyre-line:hover {
    background-color: lightgrey;
}
.lyre-btn:hover {
    cursor: pointer;
}